.App {
  text-align: center;
  max-width: 400px; /* Increase the max-width */
  border: 1px solid red;
  margin: auto;
  min-height: 93vh; /* Ensure the height stretches based on content */
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px; /* Add some padding for better content spacing */
}
.body {
  background-color: grey;
}
.html {
  height: 100%;
  background-color: grey;
}
